body {
    font-family: sans-serif;
    margin: 0;
    background-color: gray;
}

nav {
    background-color: #212121;
    margin: 0 auto 0;
    height: 70px;
}

ul {
    padding: 0;
    margin: 0;
    float: right;
    display: flex;
}

li {
    list-style: none;
    padding-top: 25px;
}

a {
    padding-right: 40px;
    text-decoration: none;
    color: mediumspringgreen;
}

a:hover {
    color: green;
}

.tweets {
    height: 40px;
    width: 400px;
    background-color: #212121;
    margin-top: 50px;
    display: flex;
    color: white;
}



.website-logo {
    height: 70px;
}




.profiel-container {
    height: 400px;
    width: 100%;
    background-color: dimgray;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.profiel {
    float: right;
}

.profiel-foto {
    height: 150px;
}















